<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Agendamentos</title>

<link href="../static/css/Agendamentos.css"  th:src="@{css/Agendamentos.css}" rel="stylesheet" type="text/css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
</head>
<body>


<div class="fundo">

<div class="container-fluid">

<div class="d-flex justify-content-end">
 <a th:href="@{/logout}"><button type="button" class="btn btn-outline-light botaoSair">Sair</button></a>
</div>
  <nav class="fill">
    <ul>
      <li><a th:href="@{/Agendamentos}">Agendamentos</a></li>
      <li><a th:href="@{/AgendarVacina}">Agendar dose</a></li>
  		
    </ul>
    
  </nav>
 


<form action="cadastrarAgendamento" method="POST" th:object="${agenobj}" class="row g-3 divForm needs-validation" novalidate>
<div class="col-12" th:each="u: ${userobj}">
   <div class="col-md-6" >
 <label for="nome" class="form-label">Nome:</label>
   <span th:text="${u.nome}"></span>
    
 
</div>

 <div class="col-md-6" >
    <label for="cpf" class="form-label">CPF:</label>
    <span  th:text="${u.cpf}" ></span>
 
</div>

</div>
<div class="col-12">
    <label for="id" class="form-label" hidden="hidden">ID</label>
    <input type="text" class="form-control" id="id" hidden="hidden" th:field="*{id}">
  	
  </div>
  
  
   <div class="col-md-6">
     <label for="cidade" class="form-label">Cidade:</label>
    <select id="cidade" class="form-select" th:field="*{cidade}" required="required">
      <option value="" disabled>--Selecione--</option>
      <option value="São Paulo" >São Paulo</option>
    </select>
     </div>
     <div class="col-md-6">
   <label for="ubs" class="form-label">UBS:</label>
    <select id="ubs" name="ubs" class="form-select" th:field="*{ubs}"    required="required">
      <option value="" disabled>--Selecione--</option>
      <option th:each="u : ${ubses}" th:value="${u.nome}"
								th:text="${u.nome}">
    </select>
  </div>
  
  
  
  
   
  
  <div class="col-md-2">
    <label for="inputState" class="form-label">Dose:</label>
    <select id="inputState" class="form-select" th:field="*{dose}" required="required">
      <option value="">--Selecione--</option>
      <option value="dose1" >1º Dose</option>
       <option value="dose2" >2º Dose</option>
        <option value="dose3" >3º Dose</option>
    </select>
  </div>
   <div class="col-md-2">
     <label for="telefone" class="form-label">Telefone:</label>
   	 <input type="text" class="form-control" id="telefone" th:field="*{telefone}" name="telefone" required="required">
   </div>
   
    <div class="col-md-6">
    <label for="data" class="form-label">Data:</label>
    <input type="date" class="form-control" id="data" th:field="*{dataaplicacao}" required="required">
 		  <div class="valid-feedback alerta">
      Perfeito!
    </div>
          <div class="invalid-feedback alerta">
        Por favor insira um nome.
      </div>
  </div>
  
   <div class="col-md-2">
    <label for="horario" class="form-label">Horário:</label>
     <select id="horario" class="form-select" th:field="*{horario}" required="required">
      <option value="" disabled>--Selecione--</option>
      <option value="10:00" >10:00</option>
       <option value="10:30" >10:30</option>
        <option value="11:00" >11:00</option>
       <option value="11:30" >11:30</option>
        <option value="12:00" >12:00</option>
       <option value="12:30" >12:30</option>
        <option value="13:00" >13:00</option>
       <option value="13:30" >13:30</option>
        <option value="14:00" >14:00</option>
       <option value="14:30" >14:30</option>
        <option value="15:00" >15:00</option>
       <option value="15:30" >15:30</option>
        <option value="16:00" >16:00</option>
       <option value="16:30" >16:30</option>
        <option value="17:00" >17:00</option>
       <option value="17:30" >17:30</option>
       
    </select>
 		  <div class="valid-feedback alerta">
      Perfeito!
    </div>
          <div class="invalid-feedback alerta">
        Por favor insira um nome.
      </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" style="margin-bottom: 7px;">Agendar</button>
  </div>
</form>
</div>
</div>

<script type="text/javascript">

 $('#telefone').mask("(00) 00000-0000");
 
 
 
 

   (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()


	function consultarUbs(ubs){
 		location.href = "ubs?ubsselecionada=" + ubs;
 	
 	}


</script>
</body>
</html>